.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    &.fade {
        .modal-dialog {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 390px;
            margin: 0;
            .translate(-50%, -50%);

            @media @eMobile {
                width: 90%;
            }
        }
    }
    .modal-content {
        .box-shadow(none);
        border-radius: 0;
    }
    .modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-title {
        margin: 10px 0 0;
        padding-bottom: 5px;
        .font-thin;
        font-size: 40px;

        @media @eMobile {
            font-size: 28px;
        }
    }
    .modal-body-wrapper {
        padding-top: 20px;
        border-top: 1px solid #d2d2d2;
        text-align: center;
        
        p {
            padding-bottom: 10px;
            padding-left: 30px;
        }
    }
    .g-recaptcha {
        padding: 5px 0 20px 29px;
    }
}



.send-btn {
    margin-top: 5px;
    margin-bottom: 8px;
    width: 85%;
    color: @white;
    background-color: @black;
    .transition(all @animateSpeed ease);
    
    &:hover {
        color: @black;
        background-color: @white;
    }
}