.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  .modal-dialog {
    position: absolute;
    top: 50px;
    left: 50%;
    width: auto;
    margin: 0;
    .translate(-50%, 0);
  }
  .modal-content {
    .box-shadow(none);
    border-radius: 0;
    border: 0;

    .red {
      color: @red;
    }
  }
  .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal-title {
    margin: 0;
    padding-bottom: 5px;
    .font-thin;
    font-size: 30px;
  }
  .modal-body-wrapper {
    padding-top: 20px;
    border-top: 1px solid #d2d2d2;

    p {
      padding-bottom: 10px;
    }
  }
  .g-recaptcha {
    margin: 0 auto;
    padding: 5px 0 20px;

    > div > div {
      margin: 0 auto;
    }
  }

  .btn-close {
    position: absolute;
    z-index: 1000;
    top: -5px;
    right: 20px;
    font-size: 20px;
    outline: none !important;
    border: 0;
    margin: 0;
    color: @black;

    @media @ltTablet {
      top: -10px;
      right: 15px;
    }
    @media @eMobile {
      top: 5px;
    }

    .guy-info& {
      top: -40px;
      right: 0;
      color: @white;

      @media @ltDesktop {
        top: -45px;
        right: 5px;
        color: @white;
        padding: 10px 3px 0 20px;
      }

      @media @ltMoblet {
        bottom: 35px;
        right: 15px;
        top: auto;
        color: @black;

        &:before {
          content: 'Back';
          display: block;
          font-style: italic;
          font-size: 18px;
          line-height: 1em;
        }

        i {
          display: none;
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .fade& {
      .translate(0, 50px);
    }
    .in& {
      .translate(0, 0);
    }
  }
}

.modal.small {
  .modal-dialog {
    width: 360px;
    top: 50%;
    left: 50%;
    right: auto;
    .translate(-50%, -50%);

    @media @eMobile {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .translate(0, 0);
      background-color: @white;
    }
  }

  .row-nerf {
    margin-left: -5px;
    margin-right: -5px;

    > div {
      width: 50%;
      padding: 0 5px;
    }
  }
}

.send-btn {
  color: @white;
  background-color: @black;
  .transition(all @animateSpeed ease);
  &:hover {
    background-color: darken(@black, 5%);
  }
}

// Project modals
.project-info {
  .modal-dialog {
    top: 0;
    left: 100px;
    right: 100px;
    background-color: @white;

    @media @ltTablet {
      left: 0;
      right: 0;
    }
  }

  .modal-content {
    padding: 30px 0 0;
    .font-regular;

    @media @eMobile {
      padding-top: 15px;
    }
  }
}
.prji-title {
  .font-bold;
  .font-lg;
  margin: 0 0 10px;

  @media @eMobile {
    .font-md;
    padding-top: 30px;
  }
}
.prji-desc {
  .font-xs;
}
.prji-stats {
  .font-sm;
  color: @grey-light;
  margin-bottom: 10px;

  @media @eMobile {
    .font-xs;
  }

  span {
    display: inline-block;
    margin-right: 30px;

    @media @eMobile {
      display: block;
      margin-bottom: 5px;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: @black;
      text-decoration: none;
    }
  }

  i {
    position: relative;
    top: 3px;
    margin-right: 10px;
    font-size: 18px;
    color: darken(@grey-light, 20%);
  }
}
.prj-head {
  position: relative;
  padding: 0 30px;

  @media @eMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.prj-gallery {
  margin-top: 10px;
  background-color: #f7f7f7;
  text-align: center;

  @media @eMobile {
    padding: 15px;
  }

  .prj-ss {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    margin: 0 auto;
  }
}

// Service modals
.services-modal.big {
  .info-left {
    background-color: #f4f4f4;

    .project-wrapper {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      color: @grey-light;
    }
  }
  .info-head {
    h3 {
      text-align: center;
      margin: 0 auto;
      .font-md;
      text-transform: uppercase;
    }
  }
}

@media @bwDesktopWide {
  .modal-content {
    > .row,
    .info-left,
    .info-wrapper {
      height: 100%;
    }
  }
}

