.punchs {
  float: right;
  clear: both;
  position: relative;
  margin-bottom: 40px;
  text-align: right;
  overflow: hidden;
}

.bounding-box {
  float: right;
  overflow: hidden;
  width: @bounding-box-icon-size;
  height: @bounding-box-icon-size;
  border-radius: 50%;
  padding-top: (@bounding-box-icon-size - @icon-size) / 2 - 2px;


  i {
    padding: 24px;
    font-size: @icon-size;
    color: @grey-light;
    .transition(color @animateSpeed linear);
  }

  @media @ltDesktop {
    @bounding-box-icon-size: 60px;
    @icon-size-sm: @icon-size - 10px;

    width: @bounding-box-icon-size;
    height: @bounding-box-icon-size;
    padding-top: (@bounding-box-icon-size - @icon-size-sm) / 2 - 2px;

    i {
      padding: 0 19px;
      font-size: @icon-size-sm;
    }
  }

  &.box-border {
    border: solid 1px @grey-light;
    .transition(border @animateSpeed linear);
  }

  .team-member & {
    padding-top: 0;
    width: @bounding-box-size;
    height: @bounding-box-size;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: @bounding-box-size;
      width: @bounding-box-size;
      border-radius: 50%;
      .transition(opacity @animateSpeed linear);

      &.main-avt {
        opacity: 1;
        .grayscale(100%);
      }
      &.hover-avt {
        z-index: 10;
        opacity: 0;
      }
    }

    @media @ltDesktop {
      @bounding-box-size: 80px;

      width: @bounding-box-size;
      height: @bounding-box-size;

      img {
        height: @bounding-box-size;
        width: @bounding-box-size;
      }
    }

    a {
      display: block;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;

      &:hover {
        .hover-avt {
          opacity: 1;
        }
      }
    }
  }
}

.bounding-info {
  float: left;
  margin-right: 30px;

  @media @ltDesktop {
    margin-right: 15px;
  }

  h4 {
    margin: 20px 0 0;
    .font-md;
    .font-light;

    @media @ltDesktop {
      font-size: 20px;
      margin-top: 13px;
    }

    .team-member & {
      .font-lg;
      margin-bottom: 2px;

      @media @ltDesktop {
        font-size: 24px;
      }
    }

  }
  span {
    display: block;
    .font-xs;
    .font-light;
    color: @grey-light;
  }
}
