.punchs {
  float: right;
  clear: both;
  position: relative;
  margin-bottom: 40px;
  text-align: right;
  overflow: hidden;

  &.team-member {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media @ltTablet {
    display: inline-block;
    float: none;
    width: 49%;
    clear: none;
    min-height: 80px;
    text-align: left;
  }

  @media @ltMoblet {
    width: 100%;
    clear: both;
  }
}

.bounding-box {
  float: right;
  overflow: hidden;
  width: @bounding-box-icon-size;
  height: @bounding-box-icon-size;
  border-radius: 50%;
  padding-top: (@bounding-box-icon-size - @icon-size) / 2 - 2px;

  i {
    padding: 24px;
    font-size: @icon-size;
    color: @grey-light;
    .transition(color @animateSpeed linear);
  }

  &.box-border {
    border: solid 1px @grey-light;
    .transition(border @animateSpeed linear);
  }

  @media @ltDesktop {
    @bounding-box-icon-size: 60px;
    @icon-size-sm: @icon-size - 10px;

    width: @bounding-box-icon-size;
    height: @bounding-box-icon-size;
    padding-top: (@bounding-box-icon-size - @icon-size-sm) / 2 - 2px;

    i {
      padding: 0 19px;
      font-size: @icon-size-sm;
    }
  }

  @media @ltTablet {
    position: absolute;
    margin: 0 auto 5px;
    top: 0;
    left: 0;
  }

  .team-member & {
    padding-top: 0;
    width: @bounding-box-size;
    height: @bounding-box-size;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: @bounding-box-size;
      width: @bounding-box-size;
      border-radius: 50%;
      .transition(opacity @animateSpeed linear);

      &.main-avt {
        opacity: 1;
        .grayscale(100%);
      }
      &.hover-avt {
        z-index: 10;
        opacity: 0;
      }
    }

    @media @ltDesktop {
      @bounding-box-size: 80px;

      width: @bounding-box-size;
      height: @bounding-box-size;

      img {
        height: @bounding-box-size;
        width: @bounding-box-size;
      }
    }

    a {
      display: block;
      position: relative;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;

      &:hover {
        .hover-avt {
          opacity: 1;
        }
      }
    }
  }
}

.bounding-info {
  float: left;
  margin-right: 30px;

  @media @ltDesktop {
    margin-right: 15px;
  }

  @media @ltTablet {
    width: 100%;
    padding-left: 80px;
    margin: 0;

    .team-member & {
      padding-left: 100px;
    }
  }

  h4 {
    margin: 20px 0 0;
    .font-md;
    .font-light;

    @media @ltDesktop {
      font-size: 20px;
      margin-top: 13px;
    }

    @media @eMobile {
      font-size: 18px;
    }

    .team-member & {
      .font-lg;
      margin-bottom: 2px;

      @media @ltDesktop {
        font-size: 24px;
      }

      @media @ltTablet {
        margin: 5px 0 0;
      }
    }
  }
  span {
    display: block;
    .font-xs;
    .font-light;
    color: @grey-light;
  }
}

.punchs-modal {
  .bounding-box {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
.omember-box {
  margin-bottom: 30px;
}
.omember-info {
  h3 {
    .font-light;
  }
  h5 {
    .font-light;
    color: @grey-light;
  }
}


@media @gteTablet {
  .punchs-group {
    position: absolute;
    right: 0;
    top: 50%;
    .translate(150px, 100%);
    .opacity(0);

    &.active {
      .opacity(1);
      .translate(0, -50%);
    }
  }
  .punchs-group {
    .punchs {
      .translate(115px, 420%);

      .active& {
        .translate(0, 0);
      }
    }
  }
  .punchs-control {
    position: absolute;
    top: 50%;
    right: -10px;
    .transform(translate(0, -50%) rotate(-15deg););

    @media @ltTablet {
      display: none;
    }
  }
  .punchs-dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: @borderColor;
    margin: 10px 0;
    border-radius: 50%;

    &.active {
      background-color: darken(@grey-light, 20%);
    }
  }
}
