.social-bar {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 999;

  .social-icon {
    display: block;
    float: right;
    margin-left: 15px;
    text-align: center;
    font-size: 18px;
    transform: translate(0, 0);

    &.social-link {
      font-size: 14px;
      margin-right: 10px;
      @include font-regular;

      &:hover {
        transform: none;
        text-decoration: underline;
      }
    }

    @include gteTablet() {
      transition: all $animateSpeed ease;
    }

    .oeicon-social-gplus {
      font-size: 19px;
    }

    &:hover {
      transform: scale(1.2, 1.2);
    }

    @include ltDesktop() {
      margin-left: 20px;
    }
  }

  transition: color $animateSpeed linear;

  [data-active-screen="2"] & {
    color: $white;
  }

  @include ltTablet() {
    top: 0;
    right: 0;
    padding: 15px 20px 0 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .9); // 10% white

    [data-active-screen="2"] & {
      background-color: rgba(40, 40, 40, 1); // darker than background
    }

    .site-nav-wrapper.active ~ & {
      background-color: $white;

      [data-active-screen="2"] & {
        background-color: $black;
      }
    }
  }

  @include ltMoblet() {
    padding-right: 15px;
  }
}

.copyright-line {
  position: fixed;
  bottom: 15px;
  left: 30px;
  z-index: 1000;

  @include ltTablet() {
    display: none;

    .site-nav-wrapper.active ~ & {
      display: block;
    }
  }

  @include ltMoblet() {
    left: 20px;
  }


  i {
    font-size: 32px;
    line-height: 1em;

    @include ltDesktop() {
      display: none;
    }
  }

  p {
    font-size: 12px;
    color: $grey-light;
    padding: 0;
  }

  span {
    @include font-regular;
    color: $black;
  }

  @include ltTablet() {
    [data-active-screen="2"] & {
      &,
      span {
        color: $white;
      }
    }
  }
}

.next-btn {
  display: block;
  position: fixed;
  top: 21px;
  left: 80px;
  text-align: right;
  @include font-sm;
  z-index: 1000;

  i {
    position: relative;
    top: 3px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 1em;
  }
}

