.components {
    display: block;
    float: right;
    clear: both;
    position: relative;
    margin-bottom: 30px;
    text-align: right;
    overflow: auto;
    
    .bounding-box {
        padding-top: (@bounding-box-size - @bounding-box-icon-size) / 2;
        width: @bounding-box-size;
        height: @bounding-box-size;
        float: right;
        text-align: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        
        
        i {
            font-size: @bounding-box-icon-size;
            color: @grey-light;
        }
        
        &.box-border {
            border: solid 1px @grey-light;
        }
    }
    
    h4 {
        .nvm;
        line-height: @bounding-box-size;
        padding-right: @bounding-box-size + 20px;
        white-space: nowrap;
    }
    
    &.team-member h4 {
        line-height: 1.1;
        padding-top: 41px;
    }
 
    span {
        display: block;
    }
}