.components {
    position: relative;
    margin-bottom: 30px;
    text-align: right;
    overflow: auto;
    
    .bounding-box {
        width: 120px;
        height: 120px;
        float: right;
        border-radius: 50%;
        background-repeat: no-repeat;
        
        &.first-member{
            background-image: url(../img/Duc.png);
            background-size: 345px;
            background-position: 55% 63%;
        }
    }
    
    h4 {
        .vertical-center;
        .nvm;
        right: 165px;
    }
    
    span {
        display: block;
    }
}