.s1 {
    background-image: url(../img/bg1.png);
}
.s1-content {
    width: 100%;
    text-align: center;
    .vmiddle;

    p {
        max-width: 80%;
        .pb6x;
        margin-right: auto;
        margin-left: auto;

        font-size: 18px;
        line-height: 26px;

        @media @mobile {
            font-size: 12px;
            line-height: 1.6em;
            font-weight: 400;
            .pb2x;
            margin-bottom: 0;
        }
    }
}
