.s3 {
    .heading-wrapper {
        margin-top: 150px;
        margin-left: 15px;
        .s-title {
            color: @white;
        }
    }
    .s-content {
        margin-top: 150px;
        margin-right: 15px;
        text-align: right;
        color: @black;
        
        p {
            color: @black;
        }
    }
    .components-wrapper {
        .vertical-center;
        width: 100%;
        right: 15%;
        color: @grey-light;
        
        .components:nth-child(2) {
            margin-right: 40px;
        }
        .components:nth-child(3) {
            margin-right: 80px;
        }
        .components:nth-child(4) {
            margin-right: 120px;
        }
    }
    form {
        margin-top: 20px;
    }
}

[data-active-screen="3"] {
    .btn-nav .lines {
        background-color: @white;
        &:before, &:after {
            background-color: @white;
        }
    }
    .next-btn {
        color: @white;
    }
    .copyright-line {
        i, p, p span {
            color: @white;
        }
    }
}