.s2 {
    .s-content {
        .vertical-center;
        right: 30px;
        text-align: left;
    }
    .components-wrapper {
        .vertical-center;
        width: 100%;
        right: 25%;
        
        .components:nth-child(1) {
            margin-right: 115px;
            
            .bounding-box {
                background-image: url(../img/Duc.png);
                background-size: 345px;
                background-position: 55% 63%;
            }
        }
        .components:nth-child(2) {
            margin-right: 70px;
            
            .bounding-box {
                background-image: url(../img/Duc.png);
                background-size: 345px;
                background-position: 55% 63%;
            }
        }
        .components:nth-child(3) {
            margin-right: 35px;
            
            .bounding-box {
                background-image: url(../img/Duc.png);
                background-size: 345px;
                background-position: 55% 63%;
            }
        }
    }
}

// Javascript activate
.social-bar.social-bar-s2 {
    color: @white;
}