// Background gradient
.s3 {
    background: #009bec;
    #gradient > .directional(#009bec; #00ecfb; 45deg);

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../img/bg3.png) no-repeat bottom left;
    }

    .site-title {
        @media @mobile {
            &:after {
                border-bottom-color: #fff;
            }
        }
        
        .wow {
            &:before {
                background-color: @white;
            }
        }
    }
    .pick-options {
        margin-top: 70px;
    }
    
    @media @mobile {
        .hexagon-transparent {
            .s3-hexagon-transparent;
            
            span {
                font-size: 15px;
                text-align: left;
                margin-top: 0;
                left: 120%;
                top: 33%;
            }
        }
        
        // Position
        .pick-options {
            width: 100%;
            margin-top: 40px;
            padding-bottom: 120px;
            .radio-faker {
                @hxg-mobile-spacing-top: @hxg-size-large-mobile/2*1.74+4;
                @hxg-mobile-spacing-left: -@hxg-size-large-mobile/2+4;
                &:nth-child(2) {
                    margin-top: @hxg-mobile-spacing-top;
                    margin-left: @hxg-mobile-spacing-left;
                }
            }
        }
    }
}
