html, body {
    position: relative;
}
body {
    display: block;
    overflow-x: hidden;
    color: @fontColor;
    font-family: @fontFamily;
    .font-light;
    .font-small;
    overflow: -moz-scrollbars-none;
    
    h2 {
        .font-thin;
        .font-xl;
        .nvm;
        padding-bottom: 35px;
    }
    
    h3.sub-title {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        .font-bold;
        .font-md;
        background-color: @black;
        color: white;
        
        padding: 10px;
        margin-top: 0;
        margin-bottom: 38px;
    }
    
    p {
        .pb3x;
        .nvm;
    }
}
a {
    text-decoration: none;
    color: inherit;
    &,
    &:focus,
    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
        color: inherit;
    }
}
::-webkit-scrollbar {
    display: none;
}
::scroll-bar {
    display: none;
}

/***** GENERAL *****/

