{% import '../macros/punchs.html' as services %}

{% set screenNo = 3 %}
{% set screenClass = "s3" %}

{% include '../vars/screen-3.html' %}

<section class="{{ screenClass }} main-screen" data-screen-no="{{ screenNo }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-6 fitscreen first-half-page">
        <div class="heading-wrapper">
          <h2 class="s-title">
            {{ screen3.title }}
          </h2>
          <h4 class="sub-title" data-sub-content="{{ screen3.subHover }}">
            <span>{{ screen3.subTitle }}</span>
          </h4>
        </div>
        <div class="punchs-wrapper">
          {% for obj in punchs %}
            {{ services.punch(obj) }}
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 fitscreen">
        <div class="s-content">
          <h2 class="s-title">
            {{ screen3.msgTitle }}
          </h2>
          <div class="desc">
            {{ screen3.msgDesc | safe }}
          </div>

          <!-- Form -->
          <form id="messageForm">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="input-wrapper">
                  <input type="text" name="name" id="msgName" class="input-normal" placeholder="Your name" value maxlength="50" />
                  {% include 'partials/input-svg.html' %}
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="input-wrapper">
                  <input type="email" name="email" id="msgEmail" class="input-normal" placeholder="Email" value maxlength="50" />
                  {% include 'partials/input-svg.html' %}
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="input-wrapper">
                  <textarea name="message" id="msgMessage" class="input-normal form-text-area" placeholder="How can we help"></textarea>
                  {% include 'partials/input-svg.html' %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-7 col-lg-8" id="cautionWrapper">
                <small class="form-caution" id="errorContainer">
                {{ screen3.msgSub }}
                </small>
              </div>

              <div class="col-md-5 col-lg-4">
                <div class="input-wrapper">
                  <button type="submit" id="submitbtn" class="btn btn-primary form-submit">
                    <span>Send</span>
                    <i class="oeicon-fly"></i>
                  </button>
                  {% include 'partials/input-svg.html' %}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
