{% macro modalProject(obj) %}
<div class="modal big project-info" id="{{ obj.modalid }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <article class="project-content">
        <div class="prj-head">
          <div class="prj-head-fix">
            <h1 class="prji-title">{{ obj.name }}</h1>
            <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close"><i class="oeicon-close"></i></button>
          </div>
          <div class="prji-stats">
            {% if obj.link %}
            <span><i class="oeicon-link"></i><a href="{{ obj.link }}" target="_blank">{{ obj.link }}</a></span>
            {% endif %}
            {% if obj.partner %}
            <span><i class="oeicon-google-circles"></i>Agency Partner: <a href="{{ obj.partner.link }}" target="_blank">{{ obj.partner.name }}</a></span>
            {% endif %}
          </div>
          <div class="row">
            <div class="prji-desc col-md-8">
              <p>{{ obj.shortcontent | safe }}</p>
            </div>
          </div>
        </div>
        <div class="prj-gallery">
          {% for ss in obj.modal.screenshot %}
          <div class="prj-ss">
            <span>Loading Image ...</span>
            <img data-unset-src="{{ ss.img }}" class="img-responsive lazy-img" alt="{{ ss.title }}" />
          </div>
          {% endfor %}
        </div>
      </article>
    </div>
  </div>
</div>
{% endmacro %}
