<button class="btn-nav ga-tracking" id="btnNav" aria-label="Toggle Navigation" data-tracking-cat="layout" data-tracking-action="Nav toggle button" data-tracking-label="Nav toggle button">
  <span class="lines-button arrow arrow-left">
    <span class="lines"></span>
  </span>
</button>

<div class="site-nav-wrapper">
  <div class="site-nav">
    <div class="nav-items-wrapper">
      {% for nav in navigator %}
      <a href="#" class="nav-items ga-tracking" data-screen-go="{{ loop.index }}" data-tracking-cat="layout" data-tracking-action="Nav item" data-tracking-label="Nav item">
        <span>
          {{ nav.title }}
          <i class="oeicon-arrow-right"></i>
        </span>
        <span class="nav-sub-text">{{ nav.subTitle }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
