// Animations core
.animDelayLevel(@level: 0, @now: false) {
    // the animations will be delayed by level.
    //     Higher level means slower
    //     put level = -5 as no delay
    @extraDelay: 200ms * @level;


    & when (@now = true) {
        .animation-delay(1000ms + @extraDelay);
    }

    .active& {
        .animation-delay(1000ms + @extraDelay);
    }
}
.animSetup {
    .animation-duration(@animateSpeed*2);
    .animation-fill-mode(both);
    .animation-timing-function(cubic-bezier(.27, .35, .23, .96););
    .animation-delay(0ms);
    .animDelayLevel();
}
.animCore() {
    &:extend(.animSetup all);
}

// Effects
.fadeIn() {
    .animCore();
    .animation-name(fadeOut);

    .main-screen.active& {
        .animation-name(fadeIn);
    }
}

.fadeUp() {
    .animCore();
    .animation-name(fadeOutDown);

    .active& {
        .animation-name(fadeInUp);
    }
}

.fadeDown() {
    .animCore();
    .animation-name(fadeOutUp);

    .active& {
        .animation-name(fadeInDown);
    }
}

.fadeLeft() {
    .animCore();
    .animation-name(fadeOutLeft);

    .active& {
        .animation-name(fadeInLeft);
    }
}

.fadeRight() {
    .animCore();
    .animation-name(fadeOutRight);

    .active& {
        .animation-name(fadeInRight);
    }
}

.zoomIn() {
    .animCore();
    .animation-name(zoomOut);

    .active& {
        .animation-name(zoomIn);
    }
}

.logoFill() {
    .animCore();

    .active& {
        .animation-name(logoFill);
    }
}

.bdMoveRight() {
    .animCore();

    .active& {
        .animation-name(bdMoveRight);
        .animation-duration(@animateSpeed*5);
    }
}
.bdMoveDown() {
    .animCore();

    .active& {
        .animation-name(bdMoveDown);
        .animation-duration(@animateSpeed*5);
    }
}
.bdMoveLeft() {
    .animCore();

    .active& {
        .animation-name(bdMoveLeft);
        .animation-duration(@animateSpeed*5);
    }
}
.bdMoveUp() {
    .animCore();

    .active& {
        .animation-name(bdMoveUp);
        .animation-duration(@animateSpeed*5);
    }
}

/* ===== It's show time ===== */
// Fixed Elements
.btn-nav,
.social-icon,
.copyright-line {
    .animCore();
    .animation-delay(0);
    opacity: 0;

    [data-active-screen] & {
        .animation-name(fadeIn);
    }
}

.copyright-line {
    p, p span {
        .transition(color @animateSpeed linear @animateSpeed*5);
    }

    .oeicon-logo {
        .transition(opacity @animateSpeed linear @animateSpeed);
        opacity: 0;

        [data-active-screen="2"] &,
        [data-active-screen="3"] & {
            opacity: 1;
        }
    }
}

// Navigator
.site-nav-wrapper {
    .nav-items {
        .fadeUp();
        .animation-duration(@animateSpeed);
        .animDelayLevel(@eff-nav-item1);

        .nav-sub-text {
            .fadeUp();
            .animDelayLevel(@eff-nav-item1-sub);
            .transition(color @animateSpeed linear);
        }

        &:nth-child(2) {
            .animDelayLevel(@eff-nav-item2);
            .nav-sub-text {.animDelayLevel(@eff-nav-item2-sub);}
        }
        &:nth-child(3) {
            .animDelayLevel(@eff-nav-item3);
            .nav-sub-text {.animDelayLevel(@eff-nav-item3-sub);}
        }

        i {
            opacity: 0;
            .translate(-20%, 0);
            .transition(all @animateSpeed ease);
        }

        &:hover {
            i {
                opacity: 1;
                .translate(0, 0);
            }
            .nav-sub-text {
                color: @black;

                [data-active-screen="3"] & {
                    color: @white;
                }
            }
        }
    }
}

// Main Background that we called Shape
.rectangle {
    -webkit-transition: -webkit-transform @eff-shape-speed ease @eff-shape-delay, right @eff-shape-speed ease @eff-shape-move-delay;
    -moz-transition: -moz-transform @eff-shape-speed ease @eff-shape-delay, right @eff-shape-speed ease @eff-shape-move-delay;
    transition: transform @eff-shape-speed ease @eff-shape-delay, right @eff-shape-speed ease @eff-shape-move-delay;

    .s3.active ~ & {
        .animation(shapeComin @eff-shape-s3-animspeed ease @eff-shape-s3-animdelay forwards);
    }
}
.bgs1 {
    .transition(opacity (@animateSpeed*2) ease-in @animateSpeed);
}
.main-screen {
    .transition(opacity @eff-shape-move-delay linear, left 1ms linear (@eff-shape-move-delay+200ms););

    &.active {
        .transition-delay(0ms);
    }
}

// Screen 1
.s1 {
    .s-title,
    .sub-title {
        .fadeRight();
    }

    .s-title {
        .animDelayLevel(@eff-s1-title);
    }
    .sub-title {
        .animDelayLevel(@eff-s1-sub-title);
    }
    .desc {
        .fadeIn();
        .animDelayLevel(@eff-s1-desc);
    }
//    .logo {
//        path {
//            .logoFill();
//            .animDelayLevel(@eff-s1-logo-fill, true);
//            .animation-duration(@animateSpeed*4);
//        }
//    }
}

.s2 {
    .punchs {
        .bounding-box {
            .zoomIn();
        }
        .bounding-info {
            h4, span {
                .fadeLeft();
            }
        }

        // Generate bounding items effects
        .generate-bounding(@eff-s2-bounding-count);

        .generate-bounding(@n, @i: 1) when (@i =< @n) {
            &:nth-child(@{i}) {
                .bounding-box {
                    .animDelayLevel(@eff-s2-bounding-box + @i);
                }
                .bounding-info {
                    h4 {
                        .animDelayLevel(@eff-s2-bounding-title + @i);
                    }
                    span {
                        .animDelayLevel(@eff-s2-bounding-sub-title + @i);
                    }
                }
            }
            .generate-bounding(@n, (@i + 1));
        }
    }

    .s-title,
    .sub-title {
        .fadeUp();
    }
    .s-title {
        .animDelayLevel(@eff-s2-title);
    }
    .sub-title {
        .animDelayLevel(@eff-s2-sub-title);
    }
    .desc {
        .fadeIn();
        .animDelayLevel(@eff-s2-desc);
    }
}

.s3 {
    .input-normal,
    .form-caution {
        .fadeIn();
        .animDelayLevel(5);
    }

    .form-submit {
        &:hover {
            background-color: @white;
            color: @black;
            border: solid 1px @black;
        }
        .fadeIn();
        .animDelayLevel(5);
    }

    line {
        &.border-top {
            .bdMoveRight();
        }
        &.border-left {
            .bdMoveUp();
        }
        &.border-bottom {
            .bdMoveLeft();
        }
        &.border-right {
            .bdMoveDown();
        }
    }
}
