// Fade
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Fade Up
@keyframes fadeUp {
    from {
        opacity: 0;
        .translate(0, 100%);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        .translate(0, 100%);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

// Fade Down
@keyframes fadeDown {
    from {
        opacity: 0;
        .translate(0, -100%);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

@-webkit-keyframes fadeDown {
    from {
        opacity: 0;
        .translate(0, -100%);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

// Fade Left
@keyframes fadeLeft {
    from {
        opacity: 0;
        .translate(-100%, 0);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

@-webkit-keyframes fadeLeft {
    from {
        opacity: 0;
        .translate(-100%, 0);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

// Fade right
@keyframes fadeRight {
    from {
        opacity: 0;
        .translate(100%, 0);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

@-webkit-keyframes fadeRight {
    from {
        opacity: 0;
        .translate(100%, 0);
    }
    to {
        opacity: 1;
        .translate(0, 0);
    }
}

// Zoom In
@keyframes zoomIn {
    0% {
        opacity: 0;
        .scale(.3, .3);
    }
    100% {
        opacity: 1;
        .scale(1, 1);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        .scale(.3, .3);
    }
    100% {
        opacity: 1;
        .scale(1, 1);
    }
}

// moveUp
@keyframes moveUpLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(0, -50%);
    }
}
@-webkit-keyframes moveUpLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(0, -50%);
    }
}

// moveDown
@keyframes moveDownLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(0, 50%);
    }
}
@-webkit-keyframes moveDownLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(0, 50%);
    }
}

// moveRight
@keyframes moveRightLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(50%, 0);
    }
}
@-webkit-keyframes moveRightLittle {
    from {
        .translate(0, 0);
    }
    to {
        .translate(50%, 0);
    }
}

// Big Bang
@keyframes bigBang {
    0% {
        .scale(0, 0);
    }
    100% {
        .scale(1, 1);
    }
}

@-webkit-keyframes bigBang {
    0% {
        .scale(0, 0);
    }
    100% {
        .scale(1, 1);
    }
}


// Right In
@keyframes rightIn {
    0% {
        .translate(150%, 0);
    }
    100% {
        .translate(0, 0);
    }
}

@-webkit-keyframes rightIn {
    0% {
        .translate(150%, 0);
    }
    100% {
        .translate(0, 0);
    }
}

// Logo fill
@keyframes logoFill {
    from {
        fill: none;
    }
    to {
        fill: black;
        stroke: none;
    }
}

@-webkit-keyframes logoFill {
    from {
        fill: none;
    }
    to {
        fill: black;
        stroke: none;
    }
}

// Border SVG
@keyframes bdMoveRight {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(100%, 0);
    }
    100% {
        .translate(0, 0);
    }
}
@-webkit-keyframes bdMoveRight {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(100%, 0);
    }
    100% {
        .translate(0, 0);
    }
}
@keyframes bdMoveDown {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(0, 100%);
    }
    100% {
        .translate(0, 0);
    }
}
@-webkit-keyframes bdMoveDown {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(0, 100%);
    }
    100% {
        .translate(0, 0);
    }
}
@keyframes bdMoveLeft {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(-100%, 0);
    }
    100% {
        .translate(0, 0);
    }
}
@-webkit-keyframes bdMoveLeft {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(-100%, 0);
    }
    100% {
        .translate(0, 0);
    }
}
@keyframes bdMoveUp {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(0, -100%);
    }
    100% {
        .translate(0, 0);
    }
}
@-webkit-keyframes bdMoveUp {
    0% {
        .translate(0, 0);
    }
    99% {
        .translate(0, -100%);
    }
    100% {
        .translate(0, 0);
    }
}
