html, body {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    display: block;
    color: @fontColor;
    font-family: @fontFamily;
    .font-light;
    .font-xs;
    background-color: @black;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
}
a {
    text-decoration: none;
    color: inherit;
    &,
    &:focus,
    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
        color: inherit;
    }
}
button {
    display: inline-block;
    margin: 0 1em;
    border: none;
    background: none;
}
::-webkit-scrollbar {
    display: none;
}
::scroll-bar {
    display: none;
}

/***** GENERAL *****/
.main-screen {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.active {
        z-index: 500;
        opacity: 1;
    }
}
.s-title {
    .font-thin;
    .font-xl;
    .nvm;
    padding-bottom: 15px;
}

.sub-title {
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-bottom: @mainSpacing * 2;

    .font-bold;
    .font-md;
    .font-sub;

    span {
        display: block;
        padding: 5px 15px;
        opacity: 1;
        color: @black;
        white-space: nowrap;
        background-color: @white;
        .transition(opacity @animateSpeed linear);
    }

    &:after {
        content: attr(data-sub-content);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        padding: 5px 0;
        color: @white;
        .transition(opacity 100ms linear);
    }

    &:hover {
        span {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }
}

p {
    .pb;
    .nvm;
}
.fitscreen {
    position: relative;
}
.s-content {
    text-align: right;
    color: @white;

    .desc {
        .font-thin;
        color: @grey-dark;
    }
}
