{% import '../macros/modals.html' as modals %}

{% include '../vars/global.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <!-- Meta Data -->
  <meta charset="utf-8">
  <title>{{ siteSettings.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% include 'partials/favicons.html' %}

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ siteSettings.fbTitle }}" />
  <meta property="og:image" content="{{ assetDir }}/img/logo.jpg" />
  <meta property="og:description" content="{{ siteSettings.desc }}" />
  <meta property="og:url" content="{{ siteSettings.url }}" />
  <meta property="og:site_name" content="{{ siteSettings.siteName }}" />
  <meta property="fb:admins" content="1216147695" />

  <meta name="description" content="{{ siteSettings.fbDesc }}">
  <meta name="keywords" content="{{ siteSettings.keywords }}">

  {% block styles %}
  <!-- Main CSS -->
  <!-- build:csslib ./assets/css/libs.css -->
  <link rel="stylesheet" href="{{ vendorDir }}/animate.css/animate.css" />
  <link rel="stylesheet" href="{{ assetDir }}/css/libs.css" />
  <link rel="stylesheet" href="{{ vendorDir }}/supported-browser/supportedbrowser.css" />
  <link rel="stylesheet" href="{{ assetDir }}/css/main.css" />
  <link rel="stylesheet" href="{{ assetDir }}/css/animations.css" />
  <!-- endbuild -->
  {% endblock %}
{% endblock %}
</head>

<body>
  {% include 'partials/noscript.html' %}
  <main>
    {% block main %}
    {% endblock %}

    <div class="rectangle st"></div>
    <div class="bgs1"></div>
  </main>

  <!-- fixed elements -->
  {% include 'components/navigation.html' %}
  {% include 'components/social-bar.html' %}
  {% include 'components/copyright.html' %}

  <!-- Team Modals -->
  {% for project in projects %}
    {{ modals.modalProject(project) }}
  {% endfor %}

  {% include '../modals/services.html' %}

  <!-- Loading screen -->
  <div class="loading" id="loader">
    <div class="load-content">
      <div class="chart" id="loadingCircle" data-percent="0">
        <span data-finish="Start" id="startBtn">0%</span>
      </div>
      <div class="load-hint hidden-sm hidden-xs">
        <p class="near">
          <span class="key-btn"><i class="oeicon-key-up"></i></span>
        </p>
        <p class="pb">
          <span class="key-btn"><i class="oeicon-key-left"></i></span>
          <span class="key-btn"><i class="oeicon-key-down"></i></span>
          <span class="key-btn"><i class="oeicon-key-right"></i></span>
        </p>
        <p>
          {{ loadingHint.desktop | safe }}
        </p>
      </div>
      <div class="load-hint visible-xs visible-sm">
        {{ loadingHint.mobile | safe }}
      </div>
    </div>
  </div>

  {% block scripts %}
  <!-- build:js ./assets/js/libs.js -->
  <script src="{{ vendorDir }}/jquery/dist/jquery.js"></script>
  <script src="{{ vendorDir }}/letteringjs/jquery.lettering.js"></script>
  <script src="{{ vendorDir }}/textillate/jquery.textillate.js"></script>
  <script src="{{ vendorDir }}/components-webfontloader/webfontloader.js"></script>
  <script src="{{ vendorDir }}/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="{{ vendorDir }}/jquery.easy-pie-chart/src/renderer/canvas.js"></script>
  <script src="{{ vendorDir }}/jquery.easy-pie-chart/src/easypiechart.js"></script>
  <script src="{{ vendorDir }}/jquery.easy-pie-chart/src/jquery.plugin.js"></script>
  <script src="{{ vendorDir }}/bootstrap/js/tooltip.js"></script>
  <script src="{{ vendorDir }}/bootstrap/js/modal.js"></script>
  <script src="{{ vendorDir }}/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="{{ vendorDir }}/supported-browser/supportedbrowser.js"></script>
  <script src="{{ vendorDir }}/js-cookie/src/js.cookie.js"></script>

  <script src="{{ assetDir }}/js/oe.supportedbrowser.js"></script>
  <script src="{{ assetDir }}/js/oe.drawing.js"></script>
  <script src="{{ assetDir }}/js/oe.main.js"></script>
  <script src="{{ assetDir }}/js/oe.loader.js"></script>
  <script src="{{ assetDir }}/js/oe.punchs.js"></script>
  <script src="{{ assetDir }}/js/oe.messenger.js"></script>
  <script src="{{ assetDir }}/js/oe.event-tracking.js"></script>
  <script src="{{ assetDir }}/js/oe.console.js"></script>
  <!-- endbuild -->
  {% endblock %}

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ siteSettings.gaCode }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
