/* ===== It's show time ===== */

// Fixed Elements
body {
  &:before {
    transition: background-color $animateSpeed linear $eff-header-body;
  }
}

@include gteTablet {
  .copyright-line {
    .oeicon-logo {
      transition: opacity $animateSpeed linear $animateSpeed;
      opacity: 0;

      [data-active-screen="2"] &,
      [data-active-screen="3"] & {
        opacity: 1;
      }
    }
  }
}

// Navigator
.site-nav-wrapper {
  .nav-items {
    transform: translate3d(0, 100%, 0);
    @include fadeUp();
    animation-duration: $animateSpeed;
    @include animDelayLevel($eff-nav-item1);

    .nav-sub-text {
      transform: translate3d(0, 100%, 0);
      @include fadeUp();
      @include animDelayLevel($eff-nav-item1-sub);
      transition: color $animateSpeed linear;
    }

    &:nth-child(2) {
      @include animDelayLevel($eff-nav-item2);

      .nav-sub-text {
        @include animDelayLevel($eff-nav-item2-sub);
      }
    }

    &:nth-child(3) {
      @include animDelayLevel($eff-nav-item3);
      .nav-sub-text {
        @include animDelayLevel($eff-nav-item3-sub);
      }
    }

    &:nth-child(4) {
      @include animDelayLevel($eff-nav-item4);
      .nav-sub-text {
        @include animDelayLevel($eff-nav-item4-sub);
      }
    }

    i {
      opacity: 0;
      transform: translate(-20%, 0);
      transition: all $animateSpeed ease;
    }

    &:hover {
      i {
        opacity: 1;
        transform: translate(0, 0);
      }
      .nav-sub-text {
        color: $black;
        [data-active-screen="3"] & {
          color: $white;
        }
      }
    }
  }
}

// Main Background that we called Shape
@include gteTablet {
  .rectangle {
    transition: transform $eff-shape-speed ease $eff-shape-delay, right $eff-shape-speed ease $eff-shape-move-delay;

    &.eff-chain {
      transition: right $eff-shape-s3-animspeed ease;
    }
  }
  .bgs1 {
    transition: opacity ($animateSpeed*2) ease-in $animateSpeed;
  }

  .main-screen {
    transition: opacity $eff-shape-move-delay linear, left 1ms linear ($eff-shape-move-delay+200ms);

    &.active {
      transition-delay: 0;
    }
  }
}

// Screen 1
.main-screen.s1 {
  .s-content {
    @include fadeIn();
    @include animDelayLevel($eff-s1-content);
  }
  .logo {
    path {
      @include ltTablet {
        animation: logoFill $animateSpeed linear 1400ms forwards;
      }
    }
  }
}

// Screen 2
.main-screen.s2 {
  .punchs {
    .bounding-box {
      transform: translateZ(0);
      @include zoomIn();

      @include ltTablet {
        @include animClear();
      }
    }
    .bounding-info {
      h4, span {
        @include fadeIn();
        @include animDelayLevel($eff-s2-bounding-title + $eff-s2-bounding-count);

        @include ltTablet {
          @include animClear();
        }
      }
    }

    // Generate bounding items effects
    @for $i from 1 through $eff-s2-bounding-count {
      &:nth-child(#{$i}) {
        .bounding-box {
          @include animDelayLevel($eff-s2-bounding-box + $i);
        }
      }
    }
  }
  .s-content {
    @include fadeIn();
    @include animDelayLevel($eff-s2-content);
  }

  .first-half-page .s-title {
    @include fadeIn();
    @include animDelayLevel($eff-s2-bounding-box);
  }

  // Punchs pages
  .punchs-control {
    @include fadeIn();
    @include animDelayLevel($eff-s2-other-members-text);

    @include ltTablet {
      @include animClear();
    }
  }

  .punchs-group.active {
    .prev-works {
      @include fadeIn();
      @include animDelayLevel($eff-s2-prev-works-delay);

      @include ltTablet {
        @include animClear();
      }
    }
  }
}

// Screen 3
.main-screen.s3 {
  // Left side
  .s-content {
    @include fadeIn();
    @include animDelayLevel($eff-shape-s3-animdelay-level);

    .s-title {
      @include fadeIn();
      @include animDelayLevel($eff-s3-left-title);
    }

    .sub-title {
      @include fadeIn();
      @include animDelayLevel($eff-s3-left-sub-title);
    }

    .desc {
      @include fadeIn();
      @include animDelayLevel($eff-s3-left-content);
    }
  }
  // Right side
  .s-form {
    @include fadeIn();
    @include animDelayLevel($eff-s3-right-content);
  }

  .input-normal,
  .form-caution,
  .form-submit {
    transform: translateZ(0);
    @include fadeIn();
    @include animDelayLevel($eff-s3-input-show);

    @include ltTablet {
      @include animClear();
    }
  }

  line {
    @include animCore();
    animation-duration: $eff-delay-range * $eff-s3-input-draw-speed;
    @include animDelayLevel($eff-s3-input-draw, true);

    &.border-top {
      @at-root .active#{&} {
        animation-name: bdMoveRight;
      }
    }
    &.border-left {
      @at-root .active#{&} {
        animation-name: bdMoveUp;
      }
    }
    &.border-bottom {
      @at-root .active#{&} {
        animation-name: bdMoveLeft;
      }
    }
    &.border-right {
      @at-root .active#{&} {
        animation-name: bdMoveDown;
      }
    }

    @include ltTablet {
      @include animClear();
    }
  }
}

// Team modal
.modal.fade {
  transition-duration: $animateSpeed;
}
.guy-info {
  .info-wrapper {
    @include gteDesktop {
      @include slideInLeft(in);
      @include animDelayLevel($eff-team-modal-right, true);
    }
  }
}
